@import url('./src/componentes/paginacion/Contacto/contacto.css');
@import url('./src/componentes/paginacion/Modal/crearModal.css');
@import url('./src/componentes/paginacion/Home/home.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/Header/header.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/Loading/loading.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/Usuarios/UserMenu/UserMenu.css');
@import url('./src/componentes/paginacion/PaginaEventos/eventos.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/CrearEventos/crearbotonEventos/crearbotonEvents.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/TarjetaEventos/updateEventos/updateEvent.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/Usuarios/Loginform/loginform.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/CrearEventos/modalcrearEventos/modalcrearEvents.css');
@import url('./src/componentes/Eventos/LogicaEventos/components/TarjetaEventos/EventCard/EventCard.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color1: #3498db;
  --background-color2: black;
  --background-color3: white;
  --background-color4: #f0f2f5;
  --background-color5: #2c3e50;
  --background-color6: #f8f9fa;
  --background-color7: gray;
  --background-color8: whitesmoke;
  --background-color9: #ffffff;
  --background-color10: #288fd4;

  --primary-color: white;
  --secundary-color: #333;
  --tercer-color: #2c3e50;
  --cuarto-color: #7f8c8d;
  --quinto-color: #2980b9;
  --sexto-color: black;
  --septimo-color: gray;
  --octavo-color: #ff4d4d;
  --noveno-color: #213547;
  --decimo-color: #747bff;

  --rc-border-radius1: 5px;
  --rc-border-radius2: 4px;
  --rc-border-radius3: 8px;
  --rc-border-radius4: 10px;
  --rc-border-radius5: 50%;
  --rc-border-radius6: 10%;
  --rc-border-radius7: 50px;

  --rc-padding0: 0;
  --rc-padding1: 0.6em 1.2em;
  --rc-padding2: 15px 32px;
  --rc-padding3: 1rem;
  --rc-padding4: 0.5rem;
  --rc-padding5: 0.75rem;
  --rc-padding6: 10px 20px;
  --rc-padding7: 10px;
  --rc-padding8: 5px;
  --rc-padding9: 6px;
  --rc-padding10: 2rem;
  --rc-padding11: 0.5rem 1rem;
  --rc-padding12: 0.75rem 1.5rem;
  --rc-padding13: 4rem 2rem;
  --rc-padding14: 1.5rem;
  --rc-padding15: 20px;
  --rc-padding16: 15px 0;
  /* santi o manu como ya lo tenia hecho asi esta parte la dejo, aunque se que la tengo que hacer como lo haré a partir de aquí*/
  --rc-margin-xs: 5px;
  --rc-margin-s: 10px;
  --rc-margin-m: 20px;
  --rc-margin-l: 40px;
  --rc-margin-xl: 80px;

  --rc-font-size-xs: 1rem;
  --rc-font-size-s: 1.2rem;
  --rc-font-size-l: 1.5rem;
  --rc-font-size-m: 2.5rem;
  --rc-font-size-xl: 3rem;

  --rc-gap-xs: 5px;
  --rc-gap-s: 1rem;
  --rc-gap-l: 2rem;
  --rc-gap-m: 40px;

  --rc-font-weight-s: 400;
  --rc-font-weight-l: 500;
  --rc-font-weight-m: bold;
}
#app {
  justify-content: center;
}

button {
  border-radius: var(--rc-border-radius1);
  border: 1px solid transparent;
  padding: var(--rc-padding1);
  font-size: 1em;
  font-weight: var(--rc-font-weight-l);
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--noveno-color);
    background-color: var(--background-color1);
  }

  a:hover {
    color: var(--decimo-color);
  }
  button {
    background-color: var(--background-color1);
  }
}
