.event-card {
  width: 300px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 6px white;
  overflow: hidden;
  margin: 16px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  margin-top: 150px;
}
.event-card:hover {
  transform: scale3d(3);
}

.event-card.expanded {
  background-color: rgb(250, 250, 228);

  box-shadow: 1px 1px 4px 6px var(--secundary-color);
}
.event-card.expanded .event-description,
.event-card.expanded .event-date,
.event-card.expanded .event-location {
  font-size: 1.2rem;
  margin: 8px 12px;
  color: black;
  justify-content: center;
}

.event-buttons {
  margin-bottom: 5px;
  align-self: center;
  width: 90%;
}

.event-buttons button {
  background-color: var(--secundary-color);
  justify-content: center;
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-name {
  font-size: 2.4rem;
  margin: 12px;
  color: #333;
  text-align: center;
  justify-content: center;
}

.event-description,
.event-date,
.event-location {
  font-size: 1.2rem;
  margin: 8px 12px;
  color: white;
  justify-content: center;
}
.event-attendees {
  justify-content: center;
  color: var(--secundary-color);
}
