.create-event-btn {
  background-color: var(--background-color1);
  border: none;
  color: var(--primary-color);
  padding: var(--rc-padding2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--rc-border-radius2);
  transition: background-color 0.3s;
  margin-top: 160px;
  width: 84%;
}

.create-event-btn:hover {
  background-color: var(--background-color2);
}
