.loading {
  color: white;
  font-size: 24px;
  background-color: var(--secundary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.error-message {
  color: red;
  font-size: 18px;
  margin: 20px;
  animation-duration: 4s;
}
