form {
  background-color: #3498db;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

#loginModal,
#registerModal {
  position: fixed;
  left: 30%;
  top: 30%;
  width: 420px;
  height: min-content;
  text-align: center;
}

input {
  caret-color: #1da1f2;
}

.inputs {
  text-align: left;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: whitesmoke;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  margin-top: 10px;
}

button {
  color: black;
  margin-top: 20px;
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;

  transition: backgrond-color 0.3s ease;
  background-color: var(--secundary-color);
}
button:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
h2 {
  color: black;
}
@media (max-width: 768px) {
  #loginModal,
  #registerModal {
    position: fixed;
    margin-left: 0;
    width: 270px;
    height: min-content;
    text-align: center;
  }
}
@media (max-width: 560px) {
  #loginModal,
  #registerModal {
    position: fixed;
    margin-left: -20px;
    width: 230px;
    height: min-content;
    text-align: center;
  }
}
